body {
    width: 700px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #c2c2c2
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Average', serif;
    font-weight: 400;
    line-height: 1.5em;
}

a:hover {
    background-color: #fff9ce;
    font-weight: 600;
}
.section {
}

.header_updated {
    top: 0;
    right: 0;
    width: 150px;
    margin: auto;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: #b8ff9c
}

.header_updated p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.section_header h1,
.section_header p {
    text-align: center;
}

.header_images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.header_images img {
    width: 40px;
    padding: 30px;
}

.dividing_img {
    margin: 40px auto;
    width: 100px;
    display: block;
}

.section_example--two-split {
    width: 100%;
    margin: 40px 0;
}
.section_example--two-split img {
    display: inline-block;
    width: 45%;
}

.section_example--one-split img {
    width: 90%;
    margin: 40px 0;
}

.section_example--two-split p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.section.sources p {
    font-family: 'Average', serif;
    font-size: 14px;
    margin: 5px 0;
}

.highlight {
    background-color: #fffee0;
}